<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-title" content="RG-Archive">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="application-name" content="RG-Archive">
	<meta name="description" content="J2ME & Symbian app and game info archive. Неофициальный архив rugame.mobi | Java и Symbian игры и приложения"/>
	<meta name="theme-color" content="#4AC35C">
	<meta name="referrer" content="same-origin">
	<link rel='icon' href='icons/10.png'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons&display=swap" rel="stylesheet">
	<!--<link rel="manifest" href="manifest.json">-->
	<title>RuGame Archive</title>
	<style>
	:root {
  	--primary-color: #4ac35c !important;
  	--primary-color-transparent: rgba(74, 195, 92, 0.35) !important;
  	--secondary-color: rgb(46, 114, 232) !important;
	}
	#splash {
		background: var(--primary-color);
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 100000;
		transition: top .4s;
		left: 0;
		top: 0;
		animation: upw 5s ease-in-out forwards;
		border-bottom: 100px solid white;
	}
	.hideSplash {
		top: -100% !important;
		border-bottom: none !important;
	}
	@keyframes upw {
		0% { transform: translateY(0) }
		100% { transform: translateY(-20%) }
	}
	sup {
		font-family: serif;
		opacity: .4;
		padding: 0 4px;
	}
	</style>
</head>
<body>
	<div id="splash"></div>
	<div id="spinner" v-scope v-show="app.loading" title="Loading" :title="locale.loading">
		<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
	</div>
	<div v-scope="AppPage({id: app.virtual.selectedId || app.selectedId, dir: app.virtual.selectedDir || app.selectedDir})" 
			 v-if="(app.virtual.selectedId || app.selectedId) && (app.selectedDir in locale.tabs || app.virtual.selectedDir in locale.tabs)" @vue:mounted="load"></div>
	<div v-scope="QuickSettingsWindow()" v-if="app.ui == 'settings'" @vue:mounted="mounted"></div>
	<div id="infobox" class="hidden">
		<i class="material-icons" id="closethebox" onclick="closeTheBox()" data-icon="close"></i>
	</div>
	<div class="container" style="display: none;" >
		<div id="ly" class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
		            mdl-layout--fixed-header">
		  <header class="mdl-layout__header" :class="{hideTabs: !(app.selectedDir in locale.tabs)}" v-scope="">
		    <div class="mdl-layout__header-row">
		    <span class="mdl-layout-title">RuGame Archive<sup>beta</sup></span>
		      <div class="mdl-layout-spacer"></div>
		      <div v-scope="QuickSearch()" style="height:50px;z-index:3;"></div>
		    </div>
			<div class="tabs mdl-layout__tab-bar mdl-js-ripple-effect" v-scope="TabGroup()" v-show="app.selectedDir in locale.tabs"></div>
		  </header>
		  <div class="mdl-layout__drawer">
		    <nav class="mdl-navigation">
		    	<div v-scope="MenuItemSpoiler(javaMenuSpoiler)"></div>
				<div v-scope="MenuItemSpoiler(symbianMenuSpoiler)"></div>
				<div v-once v-scope="MenuItemGroup(mainMenuItemGroup)"></div>
		    </nav>
		    <small id="version">frontend: [[BUILD_VERSION]]-pv beta
					/ data: v2.0 ~ [[BUILD_DATE]]</small>
		  </div>
		  <main id="lists" class="mdl-layout__content">
			  <section @scroll.passive="loadOnScroll" class="mdl-layout__tab-panel" v-for="(category, catId) in app.currentMeta" v-scope="TabContent({catId, items: category, dir: app.selectedDir})" :class="{'is-active': isVisible(catId)}"></section>
			  <div v-scope="CustomContentFragment()" class="wrap"></div>
		  </main>
		</div>
	</div>
	<template id="MenuItem">
		<a class="mdl-navigation__link" :class="{mds: app.selectedDir == link}" :href="app.prefix + link"><i class="material-icons mic" :data-icon="link in app.meta? 'check' : icon"></i>{{name}}</a>
	</template>
	<template id="MenuItemGroup">
		<div v-scope="MenuItem(item)" v-for="item in items"></div>
	</template>
	<template id="MenuItemSpoiler">
		<div class="mspoiler" :class="{mopen: open}">
			<div class="mheader" @click=toggleSpoiler()>
				<i class="material-icons mic" :data-icon="icon" v-if="icon"></i><i class="external-icon" v-else v-html="eIcon"></i>{{title}}<i class="material-icons marr" data-icon="keyboard_arrow_down"></i>
			</div>
			<div class="mcontent">
				<div v-scope="MenuItem(item)" v-for="item in items"></div>
			</div>
		</div>
	</template>
	<template id="Tab">
		<a @click="tabClick" class="mdl-layout__tab" :class="{'is-active': app.selectedCategory == item.id}" :href="app.prefix + app.selectedDir + '/cat/' + item.id">{{item.tab}}</a>
	</template>
	<template id="TabGroup">
		<span v-scope="Tab(item)" v-for="item in app.tabs"></span>
	</template>
	<template id="TabContent">
		<ul class="page-content mdl-list">
			<li v-scope="DynamicTabContentPage({items})" v-if="parseInt(app.config.displaymode) == D_MODES.AdvancedPagination"></li>
			<div v-else>
				<li v-scope="TabContentPage({page: page-1, items})" v-for="page in pages" :class="{hidden: isHidden(page)}"></li>
			</div>
			<div v-scope="Pagination({totalPages: pages})" class="paginator" v-if="parseInt(app.config.displaymode) >= D_MODES.Pagination && isVisible(catId)"></div>
			<div v-if="parseInt(app.config.displaymode) == D_MODES.Onscroll && nonScrollable"><button class="center mdl-button mdl-js-button page-item" @click="loadOnScroll">{{locale.loadmore}}</button></div>
		</ul>
	</template>
	<template id="TabContentPage">
		<a class="mdl-list__item" v-for="appItem in apps" :href="app.prefix + (dir || appItem[2]) + '/' + appItem[0] + '/info'">
			<span class="mdl-list__item-primary-content">
				<img class="mdl-list__item-icon appic" :src="app.datasource.icons.getIcon(appItem[0], dir || appItem[2])">
				<span class="mdl-list__item-text-body">{{appItem[1]}}</span>
			</span>
			<span class="mdl-list__item-secondary-content">
				<i class="material-icons" :data-icon="dir && appItem[2] ? 'flag' : 'info'"></i>
			</span>
		</a>
	</template>
	<template id="CustomContentFragment">
		<div v-if="app.selectedDir == 'favourites'" v-scope="Favourites()"></div>
		<div v-if="app.selectedDir == 'blog'" class="blog" :class="{postpage: app.selectedId}" v-scope="Blog()" @vue:mounted="mounted"></div>
		<div v-if="app.selectedDir == 'comments'" v-scope="Discussion()" @vue:mounted="mounted"></div>
		<div v-if="app.selectedDir == 'mirrors'" v-html="locale.mirrors.menu"></div>
		<div v-if="app.selectedDir == 'search'" v-scope="SearchResults()" @vue:mounted="mounted"></div>
	</template>
	<template id="Discussion">
		<div id="vkcomments"></div>
		<div><a id="tglink" href="tg://resolve?domain=javagangbang">Беседа konon.mobi в Telegram.</a></div>
	</template>
	<script defer type="module" src="./lang.js"></script>
	<script defer type="module" src="./entry.js"></script>
</body>
</html>
